#footer {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - var(--sidebar-width));
    height: var(--footer-height);
    bottom: 0;
    padding: 10px;
    margin-left: var(--sidebar-width);

    background: var(--footer-background);

    color: #555;
    font-size: 12px;
    text-align: center;
}

#footer > p {
    margin: 0;
    padding-bottom: 5px;
}