#sidebar {
    float: left;
    width: var(--sidebar-width);
    padding-bottom: var(--footer-height);

    box-sizing: border-box;
    border-right: var(--sidebar-border-width) solid rgba(0, 0, 0, 0.0);
}

#site-header {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

#site-header-title {
    padding: 10px 0;

    font-family: 'Amatic SC', serif;
    /*font-weight: 300;*/
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

#site-header-description {
    margin: 10px 0;

    font-family: Roboto Condensed, serif;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

/**/
/**/
/*Меню в сайдбаре*/
#site-navigation {

}

.menu-item {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
    height: 40px;
    width: 100%;

    display: flex;
}

#site-navigation a {
    padding: 10px 25px;
    margin-top: auto;
    margin-bottom: auto;

    text-transform: uppercase;
    font-size: 12px;

. beauty-link;
}

#site-navigation a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none
}