#sidebar {
    float: left;
    width: var(--sidebar-width);
    padding-bottom: var(--footer-height);

    border-right: var(--sidebar-border-width) solid rgba(0, 0, 0, 0.0);
}

#site-header {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

#site-header-title {
    padding: 10px 0;
    line-height: 50px;

    font-family: 'Amatic SC', serif;
    font-size: 50px;
    text-align: center;
}

#site-header-title > a {
    display: block;
}

#site-header-description {
    margin: 10px 0;
    line-height: 20px;

    color: #fff;
    font-family: Roboto Condensed, serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

#site-navigation {

}

.menu-item {
    display: flex;
    min-height: 40px;
    width: 100%;
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

#site-navigation a {
    padding: 10px 25px;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 12px;
    text-transform: uppercase;
}