#entry-title {
    margin-top: 0;

    font-size: 48px;
    font-family: Roboto Slab, serif;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    color: #555;
}

#pagination {
    line-height: 1.625;
    float: right;
    display: inline;
}

.pagination-item {
    float: left;
    padding: 0 5px;
    margin-left: 5px;
}

.page-number {
    border: 1px solid #efefef;

    font-size: 12px;
    font-family: Roboto, serif;
    color: #3699dc;
    text-decoration: none !important;
    outline: none !important;
}

.page-number:hover {
    background: #f1f1eb;
}

.beauty-link a {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
}

.beauty-link a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none
}