html, body {
    height: 100%; /* высота HTML и BODY */
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #ffffff;
    background: url("../resources/images/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #000;
    word-break: break-all;
}

:root {
    --toolbar-height: 30px;
    --sidebar-width: 250px;
    --footer-height: 30px;

    --toolbar-background: #252a32;
    --sidebar-background: #413f3d;
    --content-background: #ffd;
    --footer-background: #eee;

    --sidebar-border-width: 1px;
    --sidebar-border-color: rgba(255, 255, 255, 0.1);
}

#wrapper {
    min-height: calc(100% - var(--toolbar-height));
    height: auto !important;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}

.clear {
    clear: both;
}

#sidebar_back, #content_back {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

#content_back {
    background: var(--content-background);
    left: var(--sidebar-width);
    right: 0; /*У меня слов нет*/
}

#sidebar_back {
    background: var(--sidebar-background);
    width: var(--sidebar-width);
    left: 0;

    box-sizing: border-box;
    border-right: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

.beauty-link a {
    display: block;
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
}

.beauty-link a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none
}