#toolbar {
    height: var(--toolbar-height);
    line-height: var(--toolbar-height);
    padding-left: 10px;

    background: var(--toolbar-background);
    color: white;
}

.toolbar-item {
    float: left;
    padding-left: 10px;
    padding-right: 10px;

    background: #252a32;
    color: #fff;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
}

#toolbar > .toolbar-item:hover {
    background: #32373c;
    color: #00b9eb;
}

#toolbar > a {
    text-decoration: none !important;
    outline: none !important;
}

