<div id="site-header">
	<div id="site-header-title">
		<a href="@Url.Action("Index", "Home")" class="gray-link">RolFor</a>
	</div>
	<div id="site-header-description">
		Лучший игровой форум!
	</div>
</div>