@if (!IsAuthenticated) {
	<div id="login">
		@using (Html.BeginForm("Authenticate", "Auth", FormMethod.Post, new {id = "login-form"})) {
		<fieldset>
			<legend>Войти</legend>
			<div class="input-wrapper">
				<label class="label">Имя пользователя: </label>
				<input type="text" id="login-username-input" name="login" value="" class="input">
			</div>
			<div class="input-wrapper">
				<label class="label">Пароль: </label>
				<input type="password" id="login-password-input" name="password" value="" class="input">
			</div>
			<div class="submit-wrapper">
				<div id="login-register-link">
					<a href="@Url.Action("Register", "Auth")" class="gray-link">Регистрация</a>
				</div>
				<button type="button" id="login-submit-button">Войти</button>
			</div>
		</fieldset>
		}
	</div>
	<script src="/Scripts/login.js"></script>
}