@using RolForServer.Controllers.Auth

<div id="login">
	@if (!IsAuthenticated) {
		<form id="login-form">
			<fieldset>
				<legend>Войти</legend>
				<div class="input-wrapper">
					<label class="label">Имя пользователя: </label>
					<input type="text" id="login-username-input" name="login" value="" class="input">
				</div>
				<div class="input-wrapper">
					<label class="label">Пароль: </label>
					<input type="password" id="login-password-input" name="password" value="" class="input">
				</div>
				<div class="submit-wrapper">
					<div id="login-register-link">
						<a href="@Url.Action("Register", "Auth")" class="gray-link">Регистрация</a>
					</div>
					<button type="button" id="login-submit-button">Войти</button>
				</div>
			</fieldset>
			<div id="invalid-credentials-error-message"></div>
		</form>
		<script src="/Scripts/login.js"></script>
	}
	else {
		<div id="login-widget">
			<img src="/Content/Images/Avatars/@Html.Raw(User.AvatarImageName)" class="user-info-avatar" alt="user-info-avatar">
			<ul>
				<li>
					<a href="" class="cyan-link user-name">
						<div>@Html.Raw(User.Name)</div>
					</a>
				</li>
				<li>
					<span class="user-role">@Html.Raw(User.Role.GetLocalizedName())</span>
				</li>
				<li>
					<a href="@Url.Action("Logout", "Auth")" class="cyan-link">Выход</a>
				</li>
			</ul>
		</div>
	}
</div>