@model object

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Форумы</title>
    <link href="~/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="~/css/forums-list.css" rel="stylesheet" type="text/css">
    <link href="~/css/footer.css" rel="stylesheet" type="text/css">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="toolbar">
    <a href="" class="toolbar-item">Инструменты</a>
    <a href="" class="toolbar-item">Ещё инструменты</a>
</div>

<div id="wrapper">
    <div id="secondary">
        <div id="sidebar">
            <div id="site-header">
                <div id="site-header-title" class="gray-link">
                    @HtmlHelperLinkExtensions.ActionLink(Html, "RolFor", "Index")
                </div>
                <div id="site-header-description">
                    Лучший игровой форум!
                </div>
            </div>
            <hr>
            <div class="menu-item gray-link">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Форумы", "Forums")
            </div>
            <hr>
            <div class="menu-item gray-link">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Какой-то форум", "Forum")
            </div>
            <hr>
            <div class="menu-item gray-link">
                <a href="">Пункт 3</a>
            </div>
            <hr>
            <div class="menu-item gray-link">
                <a href="">Пункт с очень длинным текстом</a>
            </div>
            <hr>
        </div>
    </div>
    <div id="primary">
        <div id="content">
            <h1 id="entry-title">Форумы</h1>
            <div id="breadcrumb">
                @HtmlHelperLinkExtensions.ActionLink(Html, "Главная", "Index", new object(),
                    new {@class = "breadcrumb-item blue-link"})
                <span class="breadcrumb-item">›</span>
                <span class="breadcrumb-item">Форумы</span>
            </div>
            <div id="forums-list">
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Форум с очень длинным названием, длиннее которого только список незаконченных ролёвок
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Маленький форум
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Форум, который умрёт первым
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
                <div class="forum">
                    <a href="">
                        <img src="~/images/door.jpg"
                             class="forum-preview-image" alt="forum_preview">
                    </a>
                    <div class="forum-about">
                        <a href="" class="forum-title blue-link">
                            Форум на всякий случай
                        </a>
                        <div class="forum-author">
                            Создатель:<br>
                            <a href="" class="blue-link">Админ</a>
                        </div>
                        <div class="forum-freshness">
                            Свежесть:<br>
                            <a href="" class="blue-link">13.13.1313</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar_back"></div>
    <div id="content_back"></div>
    <div id="clear"></div>
    <div id="footer">
        <p>Сайт написан с помощью рук и без мошенничества.</p>
        <p>Почта администратора сайта: какая_то@поч.та</p>
    </div>
</div>
</body>
</html>