@model RolForServer.Models.Message

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Главная</title>
    <link href="~/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="~/css/login-widget.css" rel="stylesheet" type="text/css">
    <link href="~/css/footer.css" rel="stylesheet" type="text/css">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css">

    <link href="/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon"/>
    <link href="/favicon.ico" rel="icon" runat="server" type="image/ico"/>
</head>
<body>
<div id="toolbar">
    <a href="" class="toolbar-item">Инструменты</a>
    <a href="" class="toolbar-item">Ещё инструменты</a>
</div>

<div id="wrapper">
    <div id="secondary">
        <div id="sidebar">
            <div id="site-header">
                <div id="site-header-title" class="gray-link">
                    @HtmlHelperLinkExtensions.ActionLink(Html, "RolFor", "Index")
                </div>
                <div id="site-header-description">
                    Лучший игровой форум!
                </div>
            </div>
            <div id="login">
                <form method="post">
                    <fieldset>
                        <legend>Войти</legend>
                        <div class="input-wrapper">
                            <label class="label">Имя пользователя: </label>
                            <input type="text" value="" class="input">
                        </div>
                        <div class="input-wrapper">
                            <label class="label">Пароль: </label>
                            <input type="password" value="" class="input">
                        </div>
                        <div class="submit-wrapper gray-link">
                            <div id="register-link">
                                @HtmlHelperLinkExtensions.ActionLink(Html, "Регистрация", "Index")
                            </div>
                            <button type="submit" class="button" id="login-button">Войти</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div id="site-navigation" class="gray-link">
                <div class="menu-item">
                    @HtmlHelperLinkExtensions.ActionLink(Html, "Форумы", "Forums")
                </div>
                <div class="menu-item">
                    @HtmlHelperLinkExtensions.ActionLink(Html, "Какой-то форум", "Forum")
                </div>
                <div class="menu-item">
                    <a href="">Пункт 3</a>
                </div>
                <div class="menu-item">
                    <a href="">Пункт с очень длинным текстом</a>
                </div>
            </div>
        </div>
    </div>
    <div id="primary">
        <div id="content"></div>
    </div>
    <div id="sidebar_back"></div>
    <div id="content_back"></div>
    <div id="clear"></div>
    <div id="footer">
        <p>Сайт написан с помощью рук и без мошенничества.</p>
        <p>Почта администратора сайта: какая_то@поч.та</p>
    </div>
</div>
</body>
</html>