@model RolForServer.Models.Message

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Регистрация</title>
    <link href="~/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/tooltip.css" rel="stylesheet" type="text/css">
    <link href="~/css/toolbar/toolbar.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar/sidebar.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar/login-widget.css" rel="stylesheet" type="text/css">
    <link href="~/css/content/registration.css" rel="stylesheet" type="text/css">
    <link href="~/css/footer.css" rel="stylesheet" type="text/css">
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/css/to-top-button.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="toolbar">
    <div class="toolbar-item toolbar-tool-right popup-parent user-info">
        <a href="" class="cyan-link">Регистрация</a>
    </div>
</div>

<div id="wrapper">
    <div id="secondary">
        <div id="sidebar">
            <div id="site-header">
                <div id="site-header-title">
                    <a href="@Url.Action("Index", "Home")" class="gray-link">RolFor</a>
                </div>
                <div id="site-header-description">
                    Лучший игровой форум!
                </div>
            </div>
            <hr>
            <div id="login">
                <form id="login-form"method="post">
                    <fieldset>
                        <legend>Войти</legend>
                        <div class="input-wrapper">
                            <label class="label">Имя пользователя: </label>
                            <input type="text" id="login-username-input" value="" class="input">
                        </div>
                        <div class="input-wrapper">
                            <label class="label">Пароль: </label>
                            <input type="password" id="login-password-input" value="" class="input">
                        </div>
                        <div class="submit-wrapper">
                            <div id="login-register-link">
                                <a href="@Url.Action("Register", "Home")" class="gray-link">Регистрация</a>
                            </div>
                            <button type="button" id="login-submit-button">Войти</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <hr>
            <div class="menu-item">
                <a href="@Url.Action("Forums", "Home")" class="gray-link">Форумы</a>
            </div>
            <hr>
            <div class="menu-item">
                <a href="@Url.Action("Forum", "Home", new {id = 0})" class="gray-link">Какой-то форум</a>
            </div>
            <hr>
            <div class="menu-item">
                <a href="" class="gray-link">Пункт 3</a>
            </div>
            <hr>
            <div class="menu-item">
                <a href="" class="gray-link">Пункт с очень длинным текстом</a>
            </div>
            <hr>
        </div>
    </div>
    <div id="primary">
        <div id="content">
            <div id="registration">
                <h1 id="entry-title">Регистрация</h1>
                <form id="registration-form" method="post">
                    <fieldset>
                        <legend>Зарегистрироваться</legend>
                        <div class="input-wrapper">
                            <label class="label">Логин: </label>
                            <div class="input-and-hint">
                                <input type="text" id="registration-login-input" class="input" value="">
                                <div class="hint-wrapper">
                                    <span class="hint tooltip" tooltip-content="Буквы английского алфавита и цифры. Должен начинаться с буквы. Длина от 2 до 16 символов.">
                                        i
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label class="label">Имя, отображаемое на сайте: </label>
                            <div class="input-and-hint">
                                <input type="text" id="registration-username-input" class="input" value="">
                                <div class="hint-wrapper">
                                    <span class="hint tooltip" tooltip-content="Любые символы. Длина от 2 до 20 символов. Может быть изменено позже.">
                                        i
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label class="label">Пароль: </label>
                            <div class="input-and-hint">
                                <input type="password" id="registration-password-input" class="input" value="">
                                <div class="hint-wrapper">
                                    <span class="hint tooltip" tooltip-content="Буквы английского алфавита, цифры, знаки препинания, специальные символы. Длина не менее 5 символов.">
                                        i
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label class="label">Подтверждение пароля: </label>
                            <div class="input-and-hint">
                                <input type="password" id="registration-repeat-password-input" class="input" value="">
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label class="label">Почта: </label>
                            <div class="input-and-hint">
                                <input type="text" id="registration-email-input" class="input" value="">
                                <div class="hint-wrapper">
                                    <span class="hint tooltip" tooltip-content="Должна быть действующей (будет использоваться для отправки вам рекламных сообщений и предложений быстро разбогатеть).">
                                        i
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-wrapper">
                            <button type="button" id="registration-submit-button">Зарегистрироваться</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="sidebar_back"></div>
    <div id="content_back"></div>
    <div id="clear"></div>
    <div id="footer">
        <p>Сайт написан с помощью рук и без мошенничества.</p>
        <p>Почта администратора сайта: какая_то@поч.та</p>
    </div>
</div>
<a id="to-top-button" title="Наверх">↑</a>
<script src="~/js/toTopButton.js"></script>
<script src="~/js/login.js"></script>
<script src="~/js/registration.js"></script>
</body>
</html>