#forums {
	padding: 50px 50px;
}

#forums #forums-list {
	--forum-preview-image-size: 100px;
	width: 100%;
	padding: 0;

	color: #555555;
}

#forums #forums-list .forum {
	display: flex;
	padding: 10px;
	min-height: var(--forum-preview-image-size);
	/*height: var(--forum-preview-image-size);*/
	background-color: #fbfbfb;
	border: 1px solid #dddddd;
	margin-bottom: 10px;
}

#forums #forums-list .forum .forum-preview-image {
	float: left;
	width: var(--forum-preview-image-size);
	height: var(--forum-preview-image-size);
	margin-right: 10px;
	border: 1px solid #dddddd;
}

#forums #forums-list .forum .forum-about {
	/*height: 100%;*/
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

#forums #forums-list .forum .forum-about .forum-title {
	font-size: 18px;
	width: 100%;
	float: left;
}

#forums #forums-list .forum .forum-about .forum-description {
	padding-top: 5px;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#forums #forums-list .forum .forum-about .forum-meta {
	margin-top: auto;
}

#forums #forums-list .forum .forum-about .forum-meta .forum-author {
	font-size: 12px;
	float: left;
}

#forums #forums-list .forum .forum-about .forum-meta .forum-freshness {
	font-size: 12px;
	float: right;
}