#login #login-form {
	padding: 25px;
	line-height: 23px;

	font-size: 14px;
}

#login #login-form fieldset {
	margin: 0;
	padding: 0;

	border: 0 none;
}

#login #login-form fieldset legend {
	display: none;
}

#login #login-form fieldset .input-wrapper {
	margin-bottom: 10px;
}

#login #login-form fieldset .submit-wrapper {
	height: 30px;
}

#login #login-form fieldset .input-wrapper .label {
	font-size: inherit;
	color: rgba(255, 255, 255, 0.5);
}

#login #login-form fieldset .input-wrapper .input {
	width: 100%;
	height: 40px;
	padding: 5px;
	box-sizing: border-box;

	border: 1px solid rgb(255, 255, 255);
	border-radius: 3px;

	font-family: inherit;
	font-size: inherit;
	color: rgb(85, 85, 85);
}

#login #login-form fieldset .submit-wrapper #login-register-link {
	height: 100%;
	display: flex;
	float: left;
}

#login #login-form fieldset .submit-wrapper #login-register-link a {
	margin-top: auto;
	margin-bottom: auto;

	font-size: inherit;
}

#login #login-form fieldset .submit-wrapper #login-submit-button {
	float: right;
	height: 100%;

	font-family: inherit;
	font-size: inherit;
}

#invalid-credentials-error-message {
	color: red;
}

#login #login-widget {
	--login-widget-avatar-size: 70px;

	padding: 15px;

	font-size: 14px;
}

#login #login-widget ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

#login #login-widget ul li {
	position: relative;
	margin-left: calc(var(--login-widget-avatar-size) + 20px);
	word-wrap: break-word;
}

#login #login-widget .user-info-avatar {
	position: absolute;
	width: var(--login-widget-avatar-size);
	height: var(--login-widget-avatar-size);
}

#login #login-widget .user-name {
	height: 18px;
}

#login #login-widget .user-role {
	display: block;
	height: 18px;
	padding-bottom: 10px;
	line-height: 23px;

	color: #a0a5aa;
	font-size: 11px;
}