<div id="sidebar_back"></div>
<div id="content_back"></div>
<div id="clear"></div>
<div id="footer">
	<p>Сайт написан с помощью рук и без мошенничества.</p>
	<p>Почта администратора сайта: какая_то@поч.та</p>
</div>