@model RolForServer.Models.Entities.Message

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Регистрация</title>
	<link href="/Content/CSS/layout.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/style.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/tooltip.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/toolbar/toolbar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/sidebar.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/sidebar/login-widget.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/content/registration.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/footer.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/fonts.css" rel="stylesheet" type="text/css">
	<link href="/Content/CSS/to-top-button.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="toolbar">
		@Html.Partial("Toolbar/_UserInfo")
	</div>

	<div id="wrapper">
		@Html.Partial("Sidebar/_Sidebar")
		
		<div id="primary">
			<div id="content">
				<div id="registration">
					<h1 id="entry-title">Регистрация</h1>
					<form id="registration-form" method="post">
						<fieldset>
							<legend>Зарегистрироваться</legend>
							<div class="input-wrapper">
								<label class="label">Логин: </label>
								<div class="input-and-hint">
									<input type="text" id="registration-login-input" class="input" value="">
									<div class="hint-wrapper">
										<span class="hint tooltip" tooltip-content="Буквы английского алфавита и цифры. Должен начинаться с буквы. Длина от 2 до 16 символов.">
											i
										</span>
									</div>
								</div>
							</div>
							<div class="input-wrapper">
								<label class="label">Имя, отображаемое на сайте: </label>
								<div class="input-and-hint">
									<input type="text" id="registration-username-input" class="input" value="">
									<div class="hint-wrapper">
										<span class="hint tooltip" tooltip-content="Любые символы. Длина от 2 до 20 символов. Может быть изменено позже.">
											i
										</span>
									</div>
								</div>
							</div>
							<div class="input-wrapper">
								<label class="label">Пароль: </label>
								<div class="input-and-hint">
									<input type="password" id="registration-password-input" class="input" value="">
									<div class="hint-wrapper">
										<span class="hint tooltip" tooltip-content="Буквы английского алфавита, цифры, знаки препинания, специальные символы. Длина не менее 5 символов.">
											i
										</span>
									</div>
								</div>
							</div>
							<div class="input-wrapper">
								<label class="label">Подтверждение пароля: </label>
								<div class="input-and-hint">
									<input type="password" id="registration-repeat-password-input" class="input" value="">
								</div>
							</div>
							<div class="input-wrapper">
								<label class="label">Почта: </label>
								<div class="input-and-hint">
									<input type="text" id="registration-email-input" class="input" value="">
									<div class="hint-wrapper">
										<span class="hint tooltip" tooltip-content="Должна быть действующей (будет использоваться для отправки вам рекламных сообщений и предложений быстро разбогатеть).">
											i
										</span>
									</div>
								</div>
							</div>
							<div class="submit-wrapper">
								<button type="button" id="registration-submit-button">Зарегистрироваться</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		
		@Html.Partial("Footer/_Footer")
	</div>
	<a id="to-top-button" title="Наверх">↑</a>
	<script src="/Scripts/toTopButton.js"></script>
	<script src="/Scripts/registration.js"></script>
	<script src="/Scripts/common.js"></script>
</body>
</html>