#toolbar .menu .popup {
	line-height: 23px;
	padding: 0 10px;
}

#toolbar .menu .popup ul {
	list-style: none;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

#toolbar .menu .popup ul li {
	display: flex;
}

#toolbar .menu .popup ul li a {
	width: 100%;
}