#toolbar .user-info-tool .user-info-tool-min-avatar {
	width: calc(var(--toolbar-height) - 10px);
	height: calc(var(--toolbar-height) - 10px);
	padding-bottom: 5px;
	vertical-align: middle;
}

#toolbar .user-info-tool .user-info-tool-popup {
	min-width: 300px;
}