#sidebar {

}

#site-header {
    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);
}

#site-header-title {
    padding: 30px 0;
    line-height: 70px;

    font-family: 'Amatic SC', serif;
    font-size: 70px;
    text-align: center;
}

#site-header-title > a {
    display: block;
}

#site-header-description {
    margin-top: -20px;
    margin-bottom: 30px;
    line-height: 20px;

    color: #fff;
    font-family: Roboto Condensed, serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

#site-navigation {

}

.menu-item {
    display: flex;
    min-height: 40px;
}

#site-navigation a {
    padding: 10px 25px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;

    border-bottom: var(--sidebar-border-width) solid var(--sidebar-border-color);

    font-size: 12px;
    text-transform: uppercase;
}