#entry-title {
    margin-top: 0;

    font-size: 48px;
    font-family: Roboto Slab, serif;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    color: #555;
}

#breadcrumb {
    line-height: 1.625;
    margin: 0 0 13px;

    color: #555;
}

.breadcrumb-item {
    font-size: 12px;
    font-family: Roboto, serif;
}

#pagination {
    line-height: 1.625;
    float: right;

    color: #555;
    font-size: 12px;
    font-family: Roboto, serif;
}

.pagination-item {
    float: left;
    padding: 0 5px;
    margin-left: 5px;
}

.page-number {
    border: 1px solid #efefef;
}

.page-number-current {
    background: #eee;
    opacity: 0.8;
    border: 1px solid #ddd;
}

.page-number:hover {
    background: #f1f1eb;
}

.gray-link {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
}

.gray-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.blue-link {
    color: #3699dc;
    text-decoration: none !important;
    outline: none !important;
}

.blue-link:hover {
    color: #1d70a8;
}

.cyan-link {
    color: #eee;
    text-decoration: none !important;
    outline: none !important;
}

.cyan-link:hover {
    color: #00b9eb;
}