#to-top-button {
	position: fixed;
	width: 80px;
	height: 80px;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	display: none;
	padding-bottom: 10px;

	cursor: pointer;
	background: #fbfbfb;

	line-height: 80px;
	font-size: 50px;
	text-align: center;
	color: #555555;
}

#to-top-button:hover {
	background: var(--footer-background);
}

.to-top-button-show {
	display: block !important;
}